In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
#from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

# Loading the input files into Data Frames using pandas Libraries

In [6]:
match_DF = pd.read_csv("data/matches.csv");
match_DF.shape

(636, 18)

In [7]:
deliveries_DF = pd.read_csv('data/deliveries.csv') 
deliveries_DF.shape

(150460, 21)

In [8]:
deliveries_DF.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [9]:
print("Columns in Deliveries dataframe")
list(deliveries_DF.columns.values)

Columns in Deliveries dataframe

['match_id',
 'inning',
 'batting_team',
 'bowling_team',
 'over',
 'ball',
 'batsman',
 'non_striker',
 'bowler',
 'is_super_over',
 'wide_runs',
 'bye_runs',
 'legbye_runs',
 'noball_runs',
 'penalty_runs',
 'batsman_runs',
 'extra_runs',
 'total_runs',
 'player_dismissed',
 'dismissal_kind',
 'fielder']

In [10]:
print("Columns in Matches dataframe")
list(match_DF.columns.values)

Columns in Matches dataframe

['id',
 'season',
 'city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'dl_applied',
 'winner',
 'win_by_runs',
 'win_by_wickets',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3']

# Converting the column name so that we can join the two data frames

In [11]:
#changing the name of the id column in Matches dataframe to match_id so that we can merge both the datasets
new_column = match_DF.columns.values; 
new_column[0] = 'match_id'; 
match_DF.columns = new_column

print("Columns in Matches dataframe")
list(match_DF.columns.values)

Columns in Matches dataframe

['match_id',
 'season',
 'city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'dl_applied',
 'winner',
 'win_by_runs',
 'win_by_wickets',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3']

# Merging the two data frame

Performing the inner join on two matches and deliveries datasets to form a new data set of size (150460, 38)

In [13]:
combined_data = pd.merge(match_DF,deliveries_DF, on='match_id', how='inner')
combined_data.shape

(150460, 38)

In [15]:
combined_data.describe()

,match_id,season,dl_applied,win_by_runs,win_by_wickets,umpire3,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,0.0,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000
mean,318.281317,2012.482813,0.017819,13.808521,3.274737,NaN,1.482188,10.142649,3.616483,0.000538,0.037498,0.004885,0.022232,0.004340,0.000066,1.222445,0.069022,1.291466
std,182.955531,2.762893,0.132292,23.673662,3.379308,NaN,0.501768,5.674338,1.807698,0.023196,0.257398,0.114234,0.200104,0.072652,0.018229,1.594509,0.349667,1.583240
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,161.000000,2010.000000,0.000000,0.000000,0.000000,NaN,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,319.000000,2012.000000,0.000000,0.000000,3.000000,NaN,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,476.000000,2015.000000,0.000000,20.000000,6.000000,NaN,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000

In [16]:
combined_data.head(2)

,match_id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [18]:
data = combined_data

## Data Cleaning

Finding all the columns with null values or NaN value

In [20]:
null_columns = data.columns[data.isnull().any()]
data[null_columns].isnull().sum()

city                  1700
winner                 321
player_of_match        321
umpire1                248
umpire2                248
umpire3             150460
player_dismissed    143022
dismissal_kind      143022
fielder             145091
dtype: int64

Dropping labels like Third Umpire as they dont participate in any analysis

In [21]:
data.drop(['umpire3'], axis = 1, inplace = True)

In [24]:
data.columns.values

array(['match_id', 'season', 'city', 'date', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'inning', 'batting_team', 'bowling_team',
       'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'is_super_over', 'wide_runs', 'bye_runs', 'legbye_runs',
       'noball_runs', 'penalty_runs', 'batsman_runs', 'extra_runs',
       'total_runs', 'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype=object)

Correcting the name of typos in teams name

In [25]:
data['team1'].unique()
data.replace('Rising Pune Supergiant','Rising Pune Supergiants',inplace=True)
data['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors'], dtype=object)

Correcting the data type from string to data time

In [26]:
type(data['date'].iloc[0])
data['date'] = pd.to_datetime(data['date'])
type(data['date'].iloc[0])

pandas._libs.tslib.Timestamp

Finding cities which are null,and replacing it with correct data

In [27]:
data[pd.isnull(data['city'])]
data['city'].fillna('Dubai',inplace=True)

Finding the null values in winner andd replacing it with correct data

In [28]:
data[pd.isnull(data['winner'])]
data['winner'].fillna('Draw', inplace=True)